@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 100%;
} /*16px*/

body {
  @apply bg-black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  @apply text-slate-200;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text-small {
  font-size: 0.833rem;
}

img {
  width: 100%;
  object-fit: cover;
}
/* more styles */

.btn-grad {
  background-image: linear-gradient(
    to right,
    #2d9bf0 0%,
    #fc00ff 51%,
    #2d9bf0 100%
  );
}
.btn-grad {
  width: 90%;
  margin-top: 2em;
  padding: 0.75em 4em;
  font-weight: 700;
  text-align: center;
  transition: 0.2s;
  background-size: 200% auto;
  letter-spacing: 0.5px;
  @apply rounded-full;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* tweet btn SM screen */
.btn-grad-sm {
  background-image: linear-gradient(
    to right,
    #2d9bf0 0%,
    #fc00ff 51%,
    #2d9bf0 100%
  );
}
.btn-grad-sm {
  position: relative;

  gap: -1px;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 1.75rem;
  text-align: center;
  transition: 0.2s;
  background-size: 200% auto;
  letter-spacing: 0.5px;
  @apply rounded-full;
}
.btn-grad-sm::after {
  content: "+";
  position: absolute;
  font-size: 1.25rem;
  top: 1px;
  left: 12px;
}

.btn-grad-sm:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* btn small */
.btn-medium {
  background-image: linear-gradient(
    to right,
    #2d9bf0 0%,
    #fc00ff 51%,
    #2d9bf0 100%
  );
}
.btn-medium {
  padding: 0.25em 1em;
  font-weight: 700;
  text-align: center;
  transition: 0.2s;
  background-size: 200% auto;
  letter-spacing: 0.5px;
  @apply rounded-full;
}
.btn-medium:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
